/*------------------------------------*\
    $FOOTER
\*------------------------------------*/

footer {
    position: absolute;
    
    bottom: 1.8vh;
    color: darken(white, 16%);

    @include responsive-font(1.4vh, 8px);
    @include respond-to('small') {
        bottom: 2vh;
        color: darken($light-gray, 25%);
    }
}

