/*------------------------------------*\
    $INTERFACE
\*------------------------------------*/

$display-border: 2px solid $display-color;

.typed-cursor {
    display: none;
}

.interface {
    font-family: visitor;

    position: relative;

    display: flex;
    overflow: hidden;

    padding: 5px;

    background: $display-background-color;

    flex-grow: 1;
    @include respond-to('small') {
        padding: 10px;
    }
}


.interface__left {
    display: flex;
    flex-direction: column;

    border: $display-border;

    flex-grow: 1;
}


.interface__right {
    display: flex;
    flex-direction: column;

    border: $display-border;
    border-left: none;
}



.status {
    display: flex;
    overflow: hidden;

    height: 1.5em;
    padding: 0 4px;

    letter-spacing: .05em;

    border-bottom: $display-border;

    justify-content: space-between;
    align-items: center;
    @include responsive-font(1.2vw, 14px);
    &__lives {
        font-family: $font--icons;
        font-size: 1.6em;

        transform: translateY(-6%);
    }

    &__score {
        transform: translateY(1.5%);
            color: $display-background-color;
        background-color: $display-color;
        padding: 0 3px 0 6px;
    }
}




.info {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    .big {
        @include responsive-font(1.5vw, 18px);
    }
    .big span, .small span{
       // opacity: 0;
    }
}

.overlay{
    @include fill-parent;
    canvas{
        width: 100%;
        height: 100%;
    }
}




.equalizer {
    position: relative;

    display: flex;

    padding: 10px;

    flex-grow: 1;
    .bar {
        position: relative;

        width: 2px;
        //height: 10px;
        margin-right: 2px;

        transform: scaleY(.1);
        transform-origin: 0 100%;

        background-color: $display-color;

        @include respond-to('medium') {
            width: 4px;
            margin-right: 3px;
        }

        &:nth-child(n+12) {
            display: none;

            @include respond-to('medium') {
                display: block;
            }
        }
        &:last-child {
            margin-right: 0;
        }
    }
}



/*

.interface__top{
    flex-grow: 1;
    display: flex;
}


.status{
    flex-grow: 1;
    width: 0;
        border: 2px solid $display-color;
}


.interface__bottom{
       display: flex;

    width: 100%;
    min-height: 1em;
    padding: 2px 4px;

    color: $display-background-color;
    //transform: translateY(-.3em);
    background-color: $display-color;

    justify-content: space-between;
    @include responsive-font(1.2vw, 14px);
    
}



/*
.interface {
    position: relative;

    display: flex;
    flex-direction: column;

    border: 1px solid $display-color;

    @include respond-to('small') {
        border: 2px solid $display-color;
    }
    flex-grow: 1;
    justify-content: space-between;
}
*/

/* 
   Equalizer
   ========================================================================== */

/*
.interface__info {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    flex-grow: 1;
    .big {
        @include responsive-font(1.5vw, 18px);
    }
}


.equalizer {
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    padding: 5px;

    border: 1px solid $display-color;
    border-left: none;

    @include respond-to('small') {
        border: 2px solid $display-color;
        border-left: none;
    }
    @include respond-to('medium') {
        padding: 10px;
    }


    &--inner {
        display: flex;

        width: 100%;
        height: 100%;

        align-items: flex-end;
    }


    .bar {
        width: 2px;
        height: 100%;
        margin-right: 2px;

        transform: scaleY(.1);
        transform-origin: 0 100%;

        background-color: $display-color;

        @include respond-to('medium') {
            width: 4px;
            margin-right: 3px;
        }

        &:nth-child(n+8) {
            display: none;
            @include respond-to('medium') {
                display: block;
            }
        }
        &:last-child {
            margin-right: 0;
        }
    }
}

*/
