/*------------------------------------*\
    $INTERFACE
\*------------------------------------*/


.interface {
    position: relative;

    display: flex;
    flex-direction: column;

    width: 75%;


    justify-content: space-between;
    &--dark {
        z-index: 1;

        transform: scale(1.02);
        text-align: center;

        opacity: 0;
        color: $display-background-color;
        background: $display-color;

        @include fill-parent();
        @include center-children();
        @include responsive-font(1.5vw, 20px);
    }
    * {
       //  display: none;
    }
}


/* 
   Equalizer
   ========================================================================== */


$border-radius: .7vw;

.equalizer {
    position: relative;

    display: flex;
    overflow: hidden;

    margin-left: 1vw;

    flex-grow: 1;

    &--inner {
        position: absolute;

        display: flex;

        width: 100%;
        height: 100%;

        align-items: flex-end;
    }


    .bar {
        height: 100%;
        margin-right: 2px;

        transform: scaleY(.16);
        transform-origin: 0 100%;

        background-color: $display-color;

        flex-grow: 1;
    }
}
