/*------------------------------------*\
    $PADS
\*------------------------------------*/

$pads-spacing: 1vw;

.pads {
    display: flex;

    width: calc(100% + 2vw);
    height: 30%;

    transform: translateX(-$pads-spacing);

    flex-wrap: wrap;
    @include respond-to('medium') {
        height: calc(15% + 2vw);
    }
    @include respond-to('large') {
        height: calc(10% + 2vw);
    }
}


.pad {
    position: relative;

    width: 46%;
    height: 50%;
    height: calc(50% - 2vw);
    margin: $pads-spacing;
    padding: .23vw;

    cursor: pointer;

    border-radius: 2vw;
    background-color: $light-gray;
    box-shadow: 0 0 0 .7vw rgba(0, 0, 0, .025);

    flex-grow: 1;
    @include respond-to('small') {
        border-radius: .85vw;
    }
    @include respond-to('medium') {
        width: auto;
        height: 100%;
        margin: 0;
        margin: 0 $pads-spacing;
    }

    &__color {
        border-radius: inherit;
        background-color: rgb(73, 246, 239);

        @include fill-parent();
    }
    &__button {
        overflow: hidden;

        border-radius: inherit;
        background-color: rgba($light-gray, .2);
        box-shadow: inset 0 0 0 -.3vw rgba(0, 0, 0, 1), inset 0 0 0 .4vw rgba($dark-black, 0.3);

        @include respond-to('small') {
            box-shadow: inset 0 0 0 -.3vw rgba(0, 0, 0, 1), inset 0 0 0 .3vw rgba($dark-black, 0.3);
        }
        @include respond-to('medium') {
            box-shadow: inset 0 0 0 -.3vw rgba(0, 0, 0, 1), inset 0 0 0 .2vw rgba($dark-black, 0.3);
        }
        @include respond-to('large') {
            box-shadow: inset 0 0 0 -.3vw rgba(0, 0, 0, 1), inset 0 0 0 .15vw rgba($dark-black, 0.3);
        }
        @include fill-parent();
        &:before {
            margin: .4vw;

            content: '';
            transform: scaleY(.975);
            transform-origin: top;

            border-radius: 2vw;
            background-color: rgba(white, .3);

            @include fill-parent();
            @include respond-to('small') {
                margin: .3vw;
                border-radius: .7vw;
            }
            @include respond-to('medium') {
                margin: .2vw;

            }
            @include respond-to('large') {
                margin: .15vw;
            }
        }
    }
    &__sticker {
        position: absolute;

        width: 100%;
        height: 100%;
        padding: 1.9vw;

        transform: scaleY(.975);
        transform-origin: top;

        opacity: .86;

        @include respond-to('small') {
            padding: 1vw;
            padding-bottom: 1.6vw;
        }
        @include respond-to('medium') {
            padding: .9vw; 
        }
        @include respond-to('large') {
            padding: .67vw; 
        }

        img {
            display: block;

            width: 100%;
            height: 100%;
        }
    }

    &__title {
        font-family: $font--condensed;
        font-weight: bold;

        position: absolute;
        bottom: 7%;

        display: inline-block;

        width: 100%;

        text-align: center;
        vertical-align: middle;
        text-transform: uppercase;

        opacity: .6;
        color: black;

        @include responsive-font(2.2vw, 9px);
        @include respond-to('small') {
            bottom: 7%;

            margin-top: 0;

            @include responsive-font(1vw, 12px);
        }
        @include respond-to('medium') {
            bottom: 7%;

        }
        @include respond-to('large') {
            @include responsive-font(1vw, 14px);
        }
    }


    &:active {
        .pad__button:before,
        .pad__sticker {
            transform: scaleY(.98);
        }
        .pad__title {
            transform: translateY(.08vw);
        }
    }
}

.ripple-burst {
    position: absolute;
    z-index: 100;

    width: 10px;
    height: 10px;

    pointer-events: none;

    border-radius: 100%;
    background-color: rgba(white, .1);
}
