/*------------------------------------*\
    $MIXINS
\*------------------------------------*/


/* ============================================
    Media queries
*/
$breakpoints: (
  'landscape': (orientation: landscape),
  'small':  ( min-width:  767px ),
  'medium': ( min-width:  992px ),
  'large':  ( min-width: 1200px ),
) !default;


@mixin respond-to($breakpoint) {
    // If the key exists in the map
    @if map-has-key($breakpoints, $breakpoint) {
        // Prints a media query based on the value
        @media #{inspect(map-get($breakpoints, $breakpoint))} {
            @content;
        }
    }

    // If the key doesn't exist in the map
    @else {
        @warn 'Unfortunately, no value could be retrieved from `#{$breakpoint}`. '
        + 'Available breakpoints are: #{map-keys($breakpoints)}.';
    }
}

/* ============================================
  Center selfe in parent
*/

@mixin center-selfe() {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

/* ============================================
  Center child/children
*/

@mixin center-children() {
    display: flex;

    justify-content: center;
    align-items: center;
}

/* ============================================
  Fill Parent
*/

@mixin fill-parent() {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* ============================================
    Responsive Font with min value
*/

@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
    font-size: $responsive;

    $responsive-unitless: $responsive / ($responsive - $responsive + 1);
    $dimension: if(unit($responsive) == 'vh', 'height', 'width');
    $min-breakpoint: $min / $responsive-unitless * 100;

    @media (max-#{$dimension}: #{$min-breakpoint}) {
        font-size: $min;
    }

    @if $max {
        $max-breakpoint: $max / $responsive-unitless * 100;

        @media (min-#{$dimension}: #{$max-breakpoint}) {
            font-size: $max;
        }
    }

    @if $fallback {
        font-size: $fallback;
    }
}
