/*------------------------------------*\
    $TYPE
\*------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700,400|Roboto+Mono:400,700');

// Visitor
@font-face {
    font-family: visitor;
    src: url(../fonts/visitor1.ttf);
}

// Visitor
@font-face {
    font-family: mago;
    src: url(../fonts/mago3.ttf);
}


a, a:visited{
  text-decoration: none;
  color: inherit;
}
