
/* ==========================================================================
   MIXINS
   ========================================================================== */


@mixin center-children() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin fill-parent() {
		position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
}


@function get-vw($target) {
    $vw-context: (1680 * .01) * 1px;
    @return ($target / $vw-context) * 1vw;
}

@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == 'vh', 'height', 'width');
  $min-breakpoint: $min / $responsive-unitless * 100;
  
  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }
  
  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;
    
    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }
  
  @if $fallback {
    font-size: $fallback;
  }
  
  font-size: $responsive;
}
